<!DOCTYPE html>
<html>

<head>
    <title> SONGR APP</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>


<h1>
    SONGR
</h1>

<h3 th:text="${username}">Username</h3>

<p>
welcome to SONGR!! An app that lets you discover new music from artists!
    CLICK ON THE IMAGE BELOW TO JUMP TO YOUR ALBUMS!
</p>

<a href="" alt="MUSIC"> </a>

<a href="/albums">
    <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"
         alt="LINK TO ALBUM PAGE">
</a>


</body>


</html>